.about{
  background-color: #28384E;
  position: relative;
  @media all and (max-width: 1024px) {
    padding-bottom: 40px;
  }
  @media all and (max-width: 500px) {
    padding-bottom: 20px;
  }
  &__text{
    padding-top: 64px;
    padding-right: 124px;
    padding-bottom: 64px;
    width: 60%;
    @media all and (max-width: 1024px) {
      width: 100%;
      padding-right: 0;
    }
    @media all and (max-width: 768px){
      padding-bottom: 40px;
      padding-top: 40px;
    }
    @media all and (max-width: 500px){
      padding-bottom: 30px;
    }
  }
  &__container{
    display: flex;
    @media all and (max-width: 1024px) {
      flex-wrap: wrap;
    }
  }
  &__img{
    right: calc((100vw - 1920px) / 2 + 312px);
    position: absolute;
    width: 525px;
    top: 0;
    height: 100%;
    @media all and (max-width: 1680px) {
      right: 0;
      width: 43%;
    }
    @media all and (max-width: 1024px) {
      height: 400px;
      width: 100%;
      position: static;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__title{

  }
  &__button{
    @media all and (max-width: 500px) {
      width: 100%;
    }
  }
}