.banner{
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: flex-end;
  &__img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img{
      object-fit: cover;
      object-position: bottom center;
      width: 100%;
      height: 100%;
    }
  }
  &__container{
    position: relative;
    padding-bottom: 102px;
    margin-bottom: 0;
    margin-top: 0;
    @media all and (max-width: 1024px) {
      padding-bottom: 84px;
    }
  }
  &__content{
    position: relative;
    @media all and (max-width: 1024px) {
      display: flex;
      flex-direction: column;
    }
  }
  &__button{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 485px;
    @media all and (max-width: 1340px) {
      max-width: 400px;
    }
    @media all and (max-width: 1240px) {
      max-width: 380px;
    }
    @media all and (max-width: 1024px) {
      position: static;
      margin-top: 40px;
      order: 3;
    }
    @media all and (max-width: 500px) {
      max-width: none;
    }
  }
  &__untitle{
    margin-bottom: 12px;
    @media all and (max-width: 1024px) {
      order: 2;
      margin-bottom: 0;
    }
    p{
      font-weight: 400;
      color: #FFF;
      margin-bottom: 1em;
    }
    @media all and (max-width: 500px) {
      br{
        display: none;
      }
    }
  }
  &__title{
    font-family: 'Namu','Open Sans';
    font-size: 118px;
    color: #FFF;
    text-align: left;
    font-weight: 300;
    @media all and (max-width: 1440px) {
      font-size: 108px;
    }
    @media all and (max-width: 1280px) {
      font-size: 88px;
    }
    @media all and (max-width: 1024px) {
      font-size: 78px;
      order: 1;
      margin-bottom: 20px;
    }
    @media all and (max-width: 768px) {
      font-size: 68px;
    }
    @media all and (max-width: 500px) {
      font-size: 48px;
      br{
        display: none;
      }
    }
  }
}