.clients{
  background-color: #28384E;
  padding: 64px 0;
  @media all and (max-width: 768px) {
    padding: 54px 0;
  }
  @media all and (max-width: 500px) {
    padding: 40px 0;
  }
  &__container{

  }
  &__title{

  }

  &__subtitle{
    max-width: 688px;
    font-size: 16px;
    @media all and (max-width: 768px){
      font-size: 15px;
    }
    @media all and (max-width: 500px){
      font-size: 14px;
    }
  }
  &__list{
    pointer-events: none;
    @media all and (max-width: 768px){
      overflow: visible;
    }
    .swiper-wrapper{
      transition-timing-function: linear !important;
    }
    &-nav{
      //display: flex;
      display: none;
      justify-content: flex-end;
      align-items: center;
      padding: 20px 0;
      > div{
        cursor: pointer;
        margin-left: 40px;
      }
    }
    &-item{
      display: flex;
      flex-direction: column;
      align-items: center;
      &.swiper-slide{
        width: auto;
      }
      img{
        margin-bottom: 10px;
      }
    }
    &-title{
      color: #FFF;
      text-align: center;
      font-size: 16px;
      @media all and (max-width: 768px){
        font-size: 15px;
      }
      @media all and (max-width: 500px){
        font-size: 14px;
      }
    }
  }
}