.digits{
  padding: 48px 0;
  @media all and (max-width: 500px) {
    padding: 50px 0;
  }
  &__container{
    display: flex;
    @media all and (max-width: 1024px) {
      flex-wrap: wrap;
    }
  }
  &__item{
    width: auto;
    padding: 0 52px;
    border-right: 1px solid #000;
    flex: 1;
    position: relative;
    @media all and (max-width: 1024px) {
      width: 50%;
      border: none;
      flex: auto;
      padding: 0 40px;
      margin-bottom: 40px;
    }
    @media all and (max-width: 768px) {
      padding: 0 20px;
    }
    @media all and (max-width: 500px) {
      padding: 0;
    }
    &:nth-child(2){
      @media all and (max-width: 500px) {
        padding-left: 20px;
      }
      @media all and (max-width: 1024px) {
        &:after{
          content: "";
          display: block;
          position: absolute;
          right: 0;
          width: calc(100% - 20px);
          height: 1px;
          background-color: #000;
          bottom: -20px;
        }
      }
    }
    &:nth-child(3){
      @media all and (max-width: 1024px) {
        padding-left: 0;
        margin-bottom: 0;
      }
    }
    &:first-child{
      padding-left: 0;
      @media all and (max-width: 1024px) {
        border-right: 1px solid #000;
        &:after{
          content: "";
          display: block;
          position: absolute;
          left: 0;
          width: calc(100% - 20px);
          height: 1px;
          background-color: #000;
          bottom: -20px;
        }
      }
    }
    &:last-child{
      padding-right: 0;
      border-right: none;
      @media all and (max-width: 1024px) {
        border-left: 1px solid #000;
        margin-bottom: 0;
      }
      @media all and (max-width: 500px) {
        padding-left: 20px;
      }
    }
  }
  &__title{
    font-size: 52px;
    margin-bottom: 10px;
    font-weight: 300;
    color: #000;
    font-family: "Namu", "Open Sans";
    @media all and (max-width: 768px) {
      font-size: 50px;
    }
    @media all and (max-width: 500px) {
      font-size: 48px;
    }
  }
  &__desc{
    font-size: 18px;
    color: #000;
    white-space: nowrap;
    line-height: normal;
    @media all and (max-width: 1440px) {
      white-space: wrap;
    }
    @media all and (max-width: 768px) {
      font-size: 17px;
    }
    @media all and (max-width: 500px) {
      font-size: 16px;
    }
  }
}