.footer{
  background-color: #000000;
  padding-top: 64px;
  padding-bottom: 80px;
  &__container{

  }
  &__title{
    font-size: 32px;
    color: #FFF;
    margin-bottom: 1em;
    @media all and (max-width: 1024px) {
      font-size: 28px;
    }
    @media all and (max-width: 768px) {
      font-size: 24px;
      text-align: center;
    }
    @media all and (max-width: 500px) {
      font-size: 18px;
    }
  }
  &__soc{
    @media all and (max-width: 768px) {
      display: flex;
      justify-content: center;
    }
    &-item{
      display: inline-block;
      margin-right: 38px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
  &__top{
    margin-bottom: 47px;
  }
  &__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media all and (max-width: 768px) {
      flex-direction: column-reverse;
      align-items: center;
    }
    *{
      color: #FFF;
      font-size: 14px;
      text-decoration: none;
      @media all and (max-width: 500px) {
        font-size: 12px;
      }
      span{
        display: inline-block;
        margin: 0 1em;
        @media all and (max-width: 500px) {
          margin: 0 10px;
        }
      }
    }
    &-nav{
      @media all and (max-width: 768px) {
        margin-bottom: 30px;
      }
    }

  }
}