.header{
  padding: 23px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: 0.3s ease-in-out;
  @media all and (max-width: 500px){
    padding: 16px 0;
  }
  &.moved{
    background-color: #313131;
    padding: 22px 0;
    @media all and (min-width: 1024px) {

    }

    .header__logo {

    }
    .header__burger{
      span{
        background-color: #FFF;
      }
    }
  }
  &__phone{
    a{
      color: #FFF;
      font-size: 14px;
      font-weight: 500;
      text-decoration: underline;
      white-space: nowrap;
      @media all and (max-width: 990px){
        font-size: 24px;
      }
    }
  }
  &__close{
    position: absolute;
    right: px(20);
    top: px(20);
    display: none;
    width: auto;
    cursor: pointer;
    @media all and (max-width: 990px){
      display: inline-block;
    }
    svg{
      width: 30px;
      height: auto;
    }
  }
  &__logo{
    img{
      width: 159px;
      height: auto;
      @media all and (max-width: 1024px){
        width: 122px;
      }
    }
  }
  &__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    @media all and (max-width: 990px){
      display: flex;
      position: fixed;
      right: 0;
      top: 0;
      height: 100vh;
      z-index: 99;
      background-color: #313131;
      flex-direction: column;
      max-width: 320px;
      justify-content: center;
      width: 100%;
      transform: translateX(200%);
      transition: 0.3s ease-in-out;
      padding-bottom: 10vh;
      &.active{
        transform: translateX(0);
      }
    }
    @media all and (max-width: 500px){
      max-width: 100%;
    }
  }
  &__burger{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    @media all and (max-width: 990px){
      display: flex;
    }
    span{
      width: 40px;
      height: 2px;
      background-color: #00555C;
      margin: 4px 0;
      display: inline-block;
      border-radius: 5px;
      transition: 0.3s ease-in-out;
    }
  }
  &__nav{
    position: relative;
    width: 100%;
    @media all and (max-width: 990px){
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      justify-content: center;
    }
    .menu{
      display: flex;
      align-items: center;
      justify-content: center;
      @media all and (max-width: 990px){
        flex-direction: column;
        align-items: center;
      }
      li{
        @media all and (max-width: 990px){
          margin: 10px auto;
        }
        &:hover{
          text-decoration: none!important;
          a{
            text-decoration: none!important;
          }
        }
      }
      a{
        font-weight: 500;
        color: #969696;
        font-size: 14px;
        text-decoration: none;
        margin: 0 14px;
        text-transform: uppercase;
        transition: 0.3s ease-in-out;
        @media all and (max-width: 990px){
          font-size: 24px;
          color: #FFF;
        }
        &:hover{
          text-decoration: none!important;
        }
      }
    }
  }
}