.services{
  padding: 64px 0;
  @media all and (max-width: 1024px) {
    padding: 40px 0;
  }
  &__container{

  }
  &__title{
    text-align: center;
    color: #000;
    &:before{
      background-color: #33445C;
      left: calc(50% - 53px);
    }
  }
  &__subtitle{
    text-align: center;
    color: #000;
    @media all and (max-width: 768px) {
      br{
        display: none;
      }
    }
  }
  &__list{

  }
  &__item{
    padding-bottom: 24px;
    border-bottom: 1px solid #000;
    margin-bottom: 24px;
    @media all and (max-width: 1024px) {

    }
    @media all and (max-width: 768px) {
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
    &:last-child{
      margin-bottom: 48px;
    }
    &.is-open{
      svg{
        transform: rotate(180deg);
      }
    }
    &-content {
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.3s ease;
    }
    &-header{
      display: flex;
      align-items: center;
      font-size: 24px;
      color: #000;
      line-height: 100%;
      cursor: pointer;
      @media all and (max-width: 1024px) {
        font-size: 20px;
      }
      @media all and (max-width: 768px) {
        font-size: 18px;
      }
      svg{
        margin-left: auto;
      }
    }
    &-icon{
      margin-right: 40px;
      @media all and (max-width: 1024px) {
        width: 50px;
        margin-right: 30px;
      }
      @media all and (max-width: 768px) {
        width: 40px;
        margin-right: 20px;
      }
    }
    &-desc{
      font-size: 16px;
      color: #000;
      line-height: 1.2;
      padding-top: 24px;
      p{
        margin-bottom: 1em;
      }
      ul{
        margin-bottom: 20px;
        padding-left: 10px;
        margin-left: 20px;
        li{
          list-style: disc;
        }
      }
    }
  }
  &__buttons{
    text-align: center;
    .button{
      @media all and (max-width: 500px) {
        width: 100%;
      }
    }
  }
}